 div, form, ul, ol, li, span, p, dl, dt, dd, img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
ul, ol, li {
    list-style: none outside none;
}
table, td, input, textarea {
    font-size: 12px;
}
a {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #CC0000;
    text-decoration: underline;
}
h2 {
    text-align: right;
}
h2 span {
    float: left;
    font-weight: bold;
}
.clear, .area, .pp, .pt {
}
.show {
    display: block;
}
.hidden {
    display: none;
}
.pp, .pt, .list12 ul, .list14 ul, .area {
    margin: 0 auto;
    width: 100%;
}
.pp:after, .pt:after, .area:after, .clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.pp {
    text-align: center;
}
.pp img {
    display: block;
    margin: 0 auto;
}
.pp span {
    display: block;
}
.pt {
    color: #666666;
    line-height: 20px;
    text-align: left;
}
.pt div {
    float: left;
    margin: 0 10px 0 0;
}
.pt p {
    clear: none;
}
.list14 li, .list12 li {
    color: #333333;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 0;
    text-align: left;
}
.list14 li {
    font-size: 14px;
    padding: 4px 0;
}
.left, .center, .l, .right, .r {
    display: inline;
    float: left;
}
.right, .r {
    float: right;
}
.fontArial {
    font-family: 'Arial';
}
.b {
    font-weight: bold;
}
.blank5, .blank8 {
    font-size: 1px;
    height: 5px;
}
.blank8 {
    height: 8px;
}
.more {
    text-align: right;
}
.area {
    width: 950px;
}
li.nodot {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-left: 0 !important;
}
#indexNav, #channelNav {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    height: 22px;
    margin: 4px auto;
    text-align: left;
}
#channelNav {
    background: none repeat scroll 0 0 #EFEBEF;
}
#indexNav ul, #channelNav ul {
    padding-right: 6px;
}
#indexNav li, #channelNav li {
    float: left;
    line-height: 14px;
    margin: 5px auto 0;
    padding: 0 2px 0 0;
}
#indexNav .end, #channelNav .end {
    padding-right: 0;
}
#indexNav .red a, #channelNav .red a {
    color: #FF0000;
}
#indexNav a, #channelNav a {
    color: #000000;
}
#foot {
    border-top: 1px solid #333333;
    color: #333333;
    line-height: 22px;
    margin: 5px auto 0;
    padding: 5px 0 10px;
    width: 950px;
}
.ad_flash {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


input[type="reset"], input[type="button"], input[type="submit"] {
    border: 0 none;
    padding-bottom: 3px;
}
.blue {
    color: #003399;
}
.red {
    color: #D80100;
}
.grey {
    color: #999999;
}
em, i {
    font-style: normal;
}
#navB {
    padding-bottom: 0;
}
.line {
    background: none repeat scroll 0 0 #D4E4F4;
    font-size: 1px;
    height: 1px;
    overflow: hidden;
}
.location {
    margin-top: 10px;
    text-align: left;
}
.lab01 {
    background: url("") repeat-x;
    height: 36px;
    line-height: 36px;
    padding: 3px 10px 0 5px;
    text-align: right;
}
.lab01 h4 {
    color: #00599A;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    text-align: center;
    width: 119px;
}
.lab01 h4.active {
    background: url("") no-repeat;
    color: #545454;
}
.lab01 a, .lab01 a:hover {
    color: #003399;
}
.lab01 a:hover {
    color: #D80100;
}
a.btn01, a.btn01:hover {
    background: url("") no-repeat;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    width: 188px;
}
a.btn01:hover {
    background-position: 0 -50px;
}
.columnA .l {
    width: 710px;
}
.columnA .r {
    width: 230px;
}
.ad-box {
    margin-top: 10px;
}
.tool-bor {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D4E4F4;
    margin:auto;
    padding: 1px;
    text-align: center;
    width: 1024px;
}
.tool-bg {
    background: url("") repeat-x;
    padding-bottom: 10px;
    width: 100%;
}
.tool-bgA {
    background: url("") repeat-x;
}
.tool-bg h1 {
    color: #D80100;
    font-family: '微软雅黑';
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    text-align: center;
	clear:both;
}
.tool-bg h1.one {
    height: 59px;
    line-height: 59px;
}
.tool-bg h1.one span {
    background: url("") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    display: inline-block;
    height: 59px;
    padding: 0 0 0 34px;
}
.tool-nav{margin:18px 0;}
.tool-nav h3 {
    display: inline;
    float: left;
    margin: 6px 0px 6px 10px;
    padding-bottom: 2px;
}
.tool-nav a.active1 {
    background-position: 0 -50px;
}
.tool-box {
    background: url("") repeat-y;
    margin: 0 auto;
    position: relative;
    width: 694px;
}
.tool-box .tool-icon {
    background: url("") no-repeat;
    height: 74px;
    left: 47%;
    position: absolute;
    top: 44%;
    width: 59px;
}
.tool-box .t {
    background: url("") no-repeat;
    padding: 1px 0 0;
    width: 100%;
}
.tool-box .b {
    background: url("") no-repeat;
    font-size: 1px;
    height: 2px;
    overflow: hidden;
}
.tool-div {
    padding-bottom: 4px;
    width: 342px;
}
.tool-div .tt {
    background: url("") repeat-x scroll 0 50% rgba(0, 0, 0, 0);
    height: 38px;
    line-height: 38px;
    margin: 0 7px;
}
.tool-div .tt span {
    background: url("") repeat-x;
    color: #00599A;
    font-size: 14px;
    padding: 0 8px;
}
.tool-div .boxA {
    text-align: left;
}
.tool-div .boxA li {
    color: #000000;
    float: left;
    line-height: 19px;
    margin-top: 10px;
}
.tool-div .boxA li.i1 {
    text-align: right;
    width: 107px;
}
.tool-div .boxA li.i2 {
    text-align: right;
    width: 158px;
}
.tool-div .boxA li.i3 {
    text-align: right;
    width: 126px;
}
.tool-div .boxA li span {
    display: inline-block;
    margin-top: 5px;
}
.tool-div .boxA .in {
    border: 1px solid #A5ACB2;
    line-height: 15px;
    padding: 2px;
    width: 82px;
}
.tool-div .boxA .in-a {
    border-bottom: 1px solid #B6B6B6;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-right: 6px;
    width: 112px;
}
.tool-div .boxA .in-aA {
    width: 177px;
}
.tool-div .boxA .btnBox {
    margin-top: 42px;
    padding-bottom: 20px;
    text-align: center;
}
.tool-div .boxA .btnBoxA {
    margin-top: 17px;
    padding-bottom: 10px;
    text-align: center;
}
.tool-div .boxA .txt {
    color: #999999;
    line-height: 20px;
    margin: 10px 30px 0 47px;
	clear:both;
}
.tool-div .boxA h4 {
    color: #000000;
    font-weight: bold;
    line-height: 18px;
    margin: 7px 0 0 60px;
}
.year-map {
    margin: 0 auto;
    width: 285px;
}
.year-map .box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C9C9C9;
    height: 144px;
    width: 283px;
}
.year-map p {
    color: #999999;
    line-height: 20px;
    padding: 5px 0;
    text-align: right;
}
.tool-div .boxAA li {
    margin-top: 7px;
}
.tool-div .boxAA li.i1 {
    width: 135px;
}
.tool-div .boxAA li.i3 {
    width: 148px;
}
.tool-txt {
    color: #000000;
    margin: 0 18px;
    padding: 8px 0 7px;
    text-align: left;
}
.tool-txt strong {
    font-weight: bold;
    height: 26px;
    line-height: 26px;
}
.tool-txt p {
    line-height: 18px;
    padding: 2px 0 2px 27px;
}
.tool-txt p a {
    color: #003399;
    text-decoration: underline;
}
.tool-txt p a:hover {
    color: #D80100;
}
.tool-txt ul {
    padding: 2px 0;
}
.tool-txt li {
    float: left;
    line-height: 18px;
}
.tool-txt li.i1 {
    width: 26px;
}
.tool-txt li.i2 {
    width: 640px;
}
.tool-index-01 li {
    background: url() no-repeat;
    float: left;
    height: 223px;
    margin-right: 2px;
    padding: 16px 3px 0;
    width: 228px;
}
.tool-index-01 li.r0 {
    margin-right: 0;
}
.tool-index-01 .tt {
    background:  no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    color: #D80100;
    font-family: 'oúì?';
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.tool-index-01 .btn01 {
    margin: 13px auto 0;
}
.tool-index-02 {
    margin: 23px auto 0;
    width: 680px;
}
.tool-index-02 h4 {
    background:  no-repeat;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-align: right;
}
.tool-index-02 h4 span {
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.tool-index-02 .list12 {
    float: left;
    margin: 10px 0 0 12px;
    padding-bottom: 3px;
    width: 258px;
}
.r-bor {
    border: 1px solid #D4E4F4;
    margin-top: 10px;
    width: 228px;
}
.r-bor h4 {
    background:  repeat-x;
    height: 29px;
    line-height: 28px;
    padding: 0 10px 0 13px;
    text-align: right;
}
.r-bor h4 span {
    color: #333333;
    float: left;
    font-weight: bold;
}
.r-bor h4 a {
    color: #003399;
}
.r-bor h4 a:hover {
    color: #D80100;
}
.r-bor .list12 {
    margin: 10px 0 16px 13px;
}
.r-box {
    margin: 0 auto;
    padding-bottom: 3px;
    width: 194px;
}
.r-box .tab th {
    border-bottom: 1px solid #D4E8F0;
    color: #BB794F;
    height: 26px;
}
.r-box .tab .t1 {
    font-weight: normal;
    padding-left: 10px;
    text-align: left;
}
.r-box .tab td {
    background: none repeat scroll 0 0 #F0FBFF;
    color: #000000;
    line-height: 18px;
    padding: 3px 0;
}
.r-box .more {
    background: url("") repeat-x;
    height: 26px;
    line-height: 26px;
}
.r-box .more a, .r-box .more a:hover {
    background: url("") no-repeat;
    color: #000000;
    display: inline-block;
    padding: 0 0 0 13px;
}
.r-box .more a.off, .r-box .more a.off:hover {
    background-position: 0 -26px;
}
.columnB {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D2E4F2;
    margin-top: 10px;
    padding: 1px;
    width: 946px;
}
.pp-box {
    margin: 19px auto 0;
    padding-bottom: 16px;
    width: 928px;
}
.pp-box .arrL, .pp-box .arrR {
    background: url("") no-repeat;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 20px;
    margin-top: 31px;
    width: 16px;
}
.pp-box .arrR {
    background-position: -16px 0;
    float: right;
}
.pp-box .arrLNone, .pp-box .arrRNone {
    display: inline-block;
    float: left;
    height: 20px;
    width: 16px;
}
.pp-box .arrRNone {
    float: right;
}
.pp-box .pp {
    float: left;
    height: 124px;
    overflow: hidden;
    width: 896px;
}
.pp-box .pp img {
    display: inline;
}
.pp-box .pp li {
    display: inline;
    float: left;
    margin: 0 11px;
    width: 106px;
}
.pp-box .pp li img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BDCFE1;
    padding: 1px;
}
.pp-box .pp li span {
    display: inline-block;
    line-height: 18px;
    margin-top: 7px;
    text-align: center;
}
.pp-box .pp a {
    color: #000000;
}
.pp-box .pp a:hover {
    color: #D80100;
}
.columnC {
    background: url("") repeat-y;
    margin-top: 10px;
}
.columnC .blockA {
    display: inline;
    float: left;
    margin: 0 0 0 1px;
    width: 315px;
}
.columnC .blockA h4 {
    border-bottom: 2px solid #D4E4F4;
    height: 29px;
    line-height: 29px;
    padding: 0 7px 0 15px;
    text-align: right;
}
.columnC .blockA h4 span {
    color: #545454;
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.columnC .blockA h4 em {
    color: #000000;
    cursor: pointer;
    float: right;
    height: 24px;
    line-height: 21px;
    margin-top: 5px;
    text-align: center;
    width: 37px;
}
.columnC .blockA h4 em.active {
    background: url("") no-repeat;
}
.columnC .blockA .list12 {
    margin: 12px 0 13px 12px;
}
.columnC .blockA .list12 em, .columnC .blockA .list12 em a {
    color: #003399;
}
.columnC .blockA .list12 em a:hover {
    color: #D80100;
}
#contentK {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CADFFA;
    margin-top: 10px;
    width: 948px;
}
#contentK .cityLab {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 44px;
    padding: 1px 1px 0;
}
#contentK .cityLab h4 {
    background: url("") no-repeat scroll 100% 0 #ECF3FB;
    float: left;
    height: 34px;
    padding: 10px 15px 0 8px;
}
#contentK .cityLab .o_city {
    float: right;
    margin-top: 2px;
    text-align: left;
    width: 781px;
}
#contentK .cityLab .o_city p {
    clear: both;
    color: #003399;
    line-height: 18px;
    padding: 1px 0;
}
#contentK .cityLab .o_city p a {
    color: #003399;
    margin: 0 8px 0 9px;
}
#contentK .cityLab .o_city p a:hover {
    color: #D80100;
}
#contentK .cityLab .o_city p span a {
    background: url("") no-repeat scroll right top rgba(0, 0, 0, 0);
    padding-right: 10px;
}
#contentK .cityLab .o_city p em {
    float: left;
}
#contentK .cityLab .o_city p .cs {
    cursor: pointer;
    padding: 0 8px 0 9px;
    position: relative;
}
#contentK .cityLab .o_city p .csA {
    z-index: 10;
}
#contentK .cityLab .o_city p .active {
    color: #D80100;
}
#contentK .cityLab .o_city p .selCity {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #8AA9C6;
    border-image: none;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    display: none;
    left: -3px;
    line-height: 18px;
    padding: 12px 7px 5px 9px;
    position: absolute;
    top: 13px;
    width: 72px;
}
#contentK .cityLab .o_city p .selCity a {
    background: none repeat;
    padding: 0;
}
#contentK .cityLab .o_city p .selCityA {
    width: 86px;
}
#contentK .cityLab .o_city p .selCityB {
    width: 36px;
}
#contentK .cityLab .o_city p .selCity a, #contentK .cityLab .o_city p .selCity a:hover {
    color: #003399;
    margin: 0 3px;
}
#contentK .cityLab .o_city p .selCity i {
    background: url("") no-repeat;
    height: 17px;
    left: 14px;
    position: absolute;
    top: -1px;
    width: 12px;
}
.as{border:0;border-bottom:1px solid #C0C0C0; color:#FF6600; padding-left:6px; font-weight:bold; font-family: 微软雅黑,Helvetica, sans-serif,Verdana;}
.as:hover{background-color:#efefef;}
.left .boxA input{ padding-left:6px; color:#99CC00; font-weight:bold;}
